nav{
    height:2vh;
}
header{
    height: 40vh;
    background-color: #222831;
    padding: 3.5vw;
    text-align: center;
}
section{
    height: 110vh;
    background-color: #393E46;
}
.footer{
    height:40vh;
    background-color: #222831;
}
#nazvaniye{
    font-size: 10vw;
    color: white;
}

.karusel{
    width: 70vw;
    aspect-ratio: 16/9;
    margin:auto;
    padding: 4vw;

}

.text-info1{
    color: burlywood;
    font-family: "Arial Rounded MT Bold";

}
#navbar {
    z-index: 9;
    background-color: #333; /* Black background color */
    position: fixed; /* Make it stick/fixed */
    top: 0; /* Stay on top */
    width: 100%; /* Full width */
    transition: top 0.3s; /* Transition effect when sliding down (and up) */
}

/* Style the navbar links */
#navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 15px;
    text-decoration: none;
}

#navbar a:hover {
    background-color: #ddd;
    color: black;
}
.padd{
    margin:0  10em 0 10em;
}
input.submit{
    margin: 5px 8px;
}

input.nick{
    margin: 5px 8px;
}

#subject{
    margin: 5px 8px;
}

div.footer{
    float: left;
}
ul.contacts{
    color: #eeeeee;
    text-align: right;
}
.d-block .w-100{
    object-fit: fill;
    position: center;
    height: 600px;
}
.card-img-top{
    
}